{% extends 'base.html.twig' %}

{% block main %}
    {{ parent() }}

    <div class="alert alert-success">Twoje zamówienie zostało przyjęte</div>
    <div class="btn-group btn-group-justified">
        <a class="btn btn-primary" href="{{ path('index') }}">Strona główna</a>
        <a class="btn btn-default" href="{{ path('car_list') }}">Lista samochodów</a>
        <a class="btn btn-default" href="{{ path('orders') }}">Moje zamówienia</a>
    </div>
{% endblock %}